.tempmon {
    height: 14px;
    border-radius: 9px;
}

.tempmon-crit {
    font-size: 15px;
    padding: 0px 0px 0px 3px;
    width: 16px;
    height: 18px !important;
    
    color: #ddd;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    background: #dd3311;
    border: 1px solid #ddd;
}

.tempmon-warn {
    font-size: 14px;
    padding: 0px 0px 4px 4px;
    width: 15px;
    
    color: #ec2;
    font-weight: bold;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.4);

}

.tempmon-norm {
    font-size: 15px;
    padding: 0px 0px 0px 4px;
    width: 15px;
    height: 18px !important;
    
    color: #8d6;
    text-shdow: 1px 1px rgba(0, 0, 0, 0.7);
    background: rgba(255, 255, 255, 0.1);
}
